@font-face {
  font-family: 'NanumSquareEB';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/NanumSquareEB.otf') format('otf');
}
@font-face {
  font-family: 'NotoSansKR-Black';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/NotoSansKR-Black.otf') format('otf');
}
@font-face {
  font-family: 'NotoSansKR-Bold';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/NotoSansKR-Bold.otf') format('otf');
}
@font-face {
  font-family: 'NotoSansKR-Medium';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/NotoSansKR-Medium.otf') format('otf');
}
@font-face {
  font-family: 'NotoSansKR-Regular';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/NotoSansKR-Regular.otf') format('otf');
}
@font-face {
  font-family: 'Pretendard-SemiBold';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Pretendard-SemiBold.otf') format('otf');
}

html,
body {
  padding: 0;
  margin: 0;  
  font-family:'NotoSansKR-Bold';
  font-size:large;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar{display: none;}
div::-webkit-scrollbar{display: none;}
a {
  color: inherit;
  text-decoration: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
* {
  box-sizing: border-box;
}
.MuiPickerStaticWrapper-content>div> div:first-child {
  display: none;
}